
<h1>Novo Registro</h1>

<div class="center jumbotron container" >
<%= link_to "Sou uma Entidade",new_path%>
</div>

<div class="center jumbotron  container" >
<%= link_to "Sou um Candidato",signup_path%>
</div>
