<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<%= render 'formEntity', user_entity: @user_entity %>
<%= link_to 'Back', user_entity_path,  class: "btn btn-lg btn-primary btn-xs" %>
<%= link_to 'Show', @user_entity, class: "btn btn-lg btn-primary btn-xs" %> 
