<% if @user.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-danger">
			O formulario possui <%= pluralize(@user.errors.count, "error") %>.
		</div>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
			<% if msg== "Name can't be blank"%>
				Nome não pode ficar vazio<br>
				<%end%>
				<% if msg== "Email can't be blank"%>
				Email não pode ficar vazio<br>
				<%end%>

				<% if msg== "Email is invalid"%>
				Email invalido<br>
				<%end%>

				<% if msg== "Password can't be blank"%>
				Password não pode ficar vazia<br>
				<%end%>
			<% end %>
		</ul>
	</div>
<% end %>