
<% @user_entity ||= current_user %>
<div class="stats">

	<a href="<%= followers_user_path(@user_entity) %>">
		<strong id="followers" class="stat">
		<%= @user_entity.followers.count %>
		</strong>
		followers
	</a>
</div>