<% @user_entity ||= current_user %>
<div class="stats">
	<a href="<%= following_user_entity_path(@user_entity) %>">
	  <strong id="following" class="stat">
		<%= @user_entity.following.count %>
	  </strong>
		following
	</a>
	<a href="<%= followers_user_entity_path(@user_entity) %>">
	   <strong id="followers" class="stat">
		<%= @user_entity.followers.count %>
	   </strong>
		followers
	</a>
</div>