@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

	body {
	     padding-top: 100px;
	}


	section {
	    overflow: auto;
	}


	textarea {
	    resize: vertical;
	}


	.center {
	    text-align: center;
	}


	.center h1 {
	    margin-bottom: 10px;
	}


	/* typography */

	h1, h2, h3, h4, h5, h6 {
		line-height: 1;
	}


	h1 {
		font-size: 3em;
		letter-spacing: -2px;
		margin-bottom: 30px;
		text-align: center;
	}


	h2 {
		font-size: 1.2em;
		letter-spacing: -1px;
		margin-bottom: 30px;
		text-align: center;
		font-weight: normal;
		color: #777
	}


	p {
		font-size: 1.1em;
		line-height: 1.7em;
	}

	/* header */

	#logo {
		float: left;
		margin-right: 10px;
		font-size: 1.7em;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: -1px;
		padding-top: 9px;
		font-weight: bold;
	}


	#logo:hover {
		color: #fff;
		text-decoration: none;
	}


	/* sidebar */

	aside {
			section.entidade_info {
			margin-top: 20px;}
		section {
			padding: 10px 0;margin-top: 20px;
			&:first-child {
			border: 0;
			padding-top: 0;}
			span {
				display: block;
				margin-bottom: 3px;
				line-height: 1;}
			h1 {
				font-size: 1.4em;
				text-align: left;
				letter-spacing: -1px;
				margin-bottom: 3px;
				margin-top: 0px;
				}
		  }
	}


	.gravatar {
		float: left;
		margin-right: 10px;
	}


	.gravatar_edit {
	    margin-top: 15px;
	}


	/* forms */

	input, textarea, select, .uneditable-input {
		border: 1px solid #bbb;
		width: 100%;
		margin-bottom: 15px;
	}


	.checkbox {
		margin-top: -10px;
		margin-bottom: 10px;
		span {
		margin-left: 20px;
		font-weight: normal;
		}
	}


	#session_remember_me {
		width: auto;
		margin-left: 0;
	}


	 .name{
		 color: gray;
		 margin-top:15px;
	 }


	/* Users index */

	.users {
		list-style: none;
		margin: 0;
		li {
		overflow: auto;
		padding: 15px 0;
		border-bottom: 1px solid $gray-lighter;
		}
	}

	/* offers */

	.offers {
		list-style: none;
		padding: 0;
		li {
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
	}

	.user_entity {
		margin-top: 5em;
		padding-top: 0;
	}

		.content {
		display: block;
		margin-left: 60px;
		img {
		display: block;
		padding: 5px 0;
		}
	}

	.timestamp {
		color: $gray-light;
		display: block;
		margin-left: 60px;
	}

		.gravatar {
		float: left;
		margin-right: 10px;
		margin-top: 5px;
		}
	}

		aside {
		textarea {
		height: 100px;
		margin-bottom: 5px;
		}
	}

		span.image {
		margin-top: 10px;
		input {
		border: 0;
		}
	}

		.stats {
		overflow: auto;
		margin-top: 0;
		padding: 0;
	a {
		float: left;
		padding: 0 10px;
		border-left: 1px solid $gray-lighter;
		color: gray;
		&:first-child {
		padding-left: 0;
		border: 0;
	}
		&:hover {
		text-decoration: none;
		color: blue;
		}
	}
		strong {
		display: block;
		}
	}

		.user_avatars {
		overflow: auto;
		margin-top: 10px;
		.gravatar {
		margin: 1px 1px;
		}
		a {
			padding: 0;
		}
	}

		.users.follow {
		padding: 0;
	}




		.stat {
		overflow: auto;
		margin-top: 0;
		padding: 0;
	a {
		float: left;
		padding: 0 10px;
		border-left: 1px solid $gray-lighter;
		color: gray;
		&:first-child {
		padding-left: 0;
		border: 0;
	}
		&:hover {
		text-decoration: none;
		color: blue;
		}
	}
		strong {
		display: block;
		}
	}

		.user_avatars {
		overflow: auto;
		margin-top: 10px;
		.gravatar {
		margin: 1px 1px;
		}
		a {
			padding: 0;
		}
	}

		.users.follow {
		padding: 0;
	}


  #conteudo-left{
  width:550px;
  height:400px;
  background-color:#FF0;
  float:left;
  }

  #conteudo-right{
  width:550px;
  height:400px;
  float:left;
  background-color:#F00;
  }

  #conteudo1-left{
  width:550px;
  height:400px;
  float:left;
  background-color:#FF0;
  }

  #conteudo1-right{
  width:550px;
  height:400px;
  float:left;
  background-color:#F00;
  }
  #principal{
  width: 1100px;
   display:block;
    margin-left:auto;
  margin-rigth: auto;
   background-color:blue;
  }

  .login{
  width: 100%;
  padding: 8% 0 0;
  margin-left: 20%;
}

.form {
  position: relative;
  background: #FFFFFF;
  max-width: 600px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align:left;
  borde: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.forma {
  padding: 45px;
  margin: 0 auto 100px;
  background: #FFFFFF;
  text-align:left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.botao{
	width:150px;
	float:left;
}


.r{

	float:right;
	display: block;
}
.t{width:500px;}

.fo{
	padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
.pa{
	padding: 20px;
}
.pal{
	padding: 10px;
}

.al{
	margin-top: -73px;
}

.fot{
	margin-right:-385px;
	margin-bottom: -60px;
	display: block;
}
.co{
	width: 200px;
}

.lo{
	margin-left: 570px;
	margin-top: -73px;
}
.area{
	width: 80px;
}

#novo{  text-align:left;}

#tab{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tab td, #tab th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tab tr:nth-child(even){background-color: #f2f2f2;}

#tab tr:hover {background-color: #ddd;}

#tab th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}